:root {
  --color-primary-green: #596b42;
  --color-primary-light-green: #858a64;
  --color-primary-dark-green: #2f3823;
  --color-primary-xlight-green: #eaedcc;

  --color-secondary-gold: #ffc74a;
  --color-secondary-rose-gold: #ffc9a1;
  --color-secondary-silver:  #d3d9e0;

  --color-accent-purple: #422757;
  --color-accent-light-purple: #f8f1ff;
  --color-accent-dark-purple: #251630;

  --color-neutral-base: #f7f0e8;
  --color-neutral-midtone: #e1cbb0;
  --color-neutral-darkmidtone: #c9b69e;
  --color-neutral-menues: #f2e6d8;
  --color-neutral-dark: #695b44;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Saira", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary-light-green);
  font-weight: 700;
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-primary-green);
  font-weight: 400;
}

h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-primary-dark-green);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary-gold);
}

a:hover {
  color: var(--color-secondary-rose-gold);
}

ul, ol, dl {
  color: var(--color-primary-green);
}

ul>li:before {
  color: var(--color-secondary-gold);
  font-weight: bold;
}

ol>li:before {
  color: var(--color-secondary-gold);
  font-weight: 300;
}

mark {
  background-color: var(--color-accent-purple);
  color: white;
}

cite {
  color: var(--color-primary-green);
  font-family: var(--font-secondary);
}

q {
  color: var(--color-secondary-gold);
}
