.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.error-message-highlighted-main {
  background-color: var(--color-neutral-midtone);
  color: #fff;
}

.error-titling {
  color: var(--color-primary-dark-green);
  font-weight: 800;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

[type="checkbox"] + label::before {
  width: 1.1em;
  height: 1.1em;
  margin-right: .75em;
  border-color: #000;
  background-color: var(--color-neutral-base);
}

[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23ffc74a' stroke-miterlimit='10' stroke-width='35' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
  background-color: var(--color-accent-dark-purple);
  border-color: var(--color-accent-purple);
}
