.subnav {
  max-width: 18em;
  background-color: #f2e6d8;
}

.filterstitle {
  background-color: var(--color-primary-dark-green);
  background-image: linear-gradient(to top, #222B15, var(--color-primary-dark-green));
  color: var(--color-neutral-base);
  font-weight: 300;
}

.filterscategory {
  color: var(--color-primary-dark-green);
  font-weight: bold;
}

.filtersoptions {
  color: var(--color-primary-green);
}

[type="checkbox"] + label::before {
  width: 1.1em;
  height: 1.1em;
  margin-right: .75em;
  border-color: var(--color-secondary-gold);
  background-color: var(--color-neutral-base);
}

[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23ffc74a' stroke-miterlimit='10' stroke-width='35' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
  background-color: var(--color-accent-dark-purple);
  border-color: var(--color-accent-purple);
}
