.subnav {
  max-width: 18em;
  background-color: #f2e6d8;
}

.filterstitle {
  background-color: var(--color-primary-dark-green);
  background-image: linear-gradient(to top, #222B15, var(--color-primary-dark-green));
  color: var(--color-neutral-base);
  font-weight: 300;
}

.filterscategory {
  color: var(--color-primary-dark-green);
  font-weight: bold;
}

.filtersoptions {
  color: var(--color-primary-green);
}
