.underlineicon {
  color: var(--color-primary-green);
}

.introcard {
  background-color: var(--color-neutral-menues);
  padding: .5em;
}

.introtext {
  padding-left: .25em;
}

.introwords {
  padding-top: 1rem;
}

.i-lines {
  height: 32px;
  width: 32px;
}

.productimage {
  max-width: 30em;
  padding: 1em;
}

@media only screen and (min-width: 25em) {

  .introwords {
    font-size: 110%;
    padding-top: 2rem;
  }

}

@media only screen and (min-width: 500px) {

  .introwords {
    font-size: 115%;
    padding-top: 3rem;
  }

}

@media only screen and (min-width: 38em) {

  .introwords {
    font-size: 120%;
    padding-top: 3rem;
  }

  .i-lines {
    height: 60px;
    width: 60px;
  }

}
