<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hearon Body Jewelry</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Saira:400,700">
</head>
<body class="mainpagecolor">
  <div class="maxwidth">
    {% pattern banners/mainbanner %}
    {% pattern header/header %}
    {{content}}
    {% pattern footer/footer %}
  </div>
</body>
</html>
