.bannercontainer {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.bannertitlecontainer {
  bottom: .25em;
  right: 1em;
}

.bannertitle {
  font-weight: bold;
  color: white;
}

.decorativediv {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

@media only screen and (min-width: 25em) {

  .bannertitlecontainer {
    bottom: 1em;
    right: 1em;
  }

}
