.bannercontainer {
  max-width: 50em;
}

.bannertitlecontainersquare {
  bottom: .05em;
  right: 1em;
}

.bannertitlecontainer {
  bottom: .25em;
  right: 3em;
}

.bannertitle {
  font-weight: bold;
  color: white;
}

.subbannertitle {
  font-weight: bold;
  color: white;
}

.mainbannertitle {
  font-weight: bold;
  color: white;
}

.decorativediv {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.materialscard {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 38em) {

  .mainbannertitle {
    font-size: 3.25rem;
  }

  .subbannertitle {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 60em) {

  .mainbannertitle {
    font-size: 4rem;
  }

  .subbannertitle {
    font-size: 3rem;
  }

}
